#!/usr/bin/make -f
#export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --with autoreconf


# dh_make generated override targets
override_dh_auto_configure:
	#dh_auto_configure -- --enable-frame=no --enable-metaio=no --enable-mpi=no --disable-shared --enable-boinc  --disable-silent-rules #${eah_configure_args} 
	dh_auto_configure -- --enable-boinc 

override_dh_auto_build:
	dh_auto_build
	cd lalapps/src/pulsar/HoughFstat && make


dh_override_dh_auto_clean:
	#dh_auto_clean
	for i in */Makefile; do ii=$$(dirname $$i); $(MAKE) -C $$ii clean || echo "W: Clean in $$ii failed."; done
	find . -name "*.o" -delete
	find . -name .libs -type d | xargs -r rm -r
	dh_clean
